@font-face {
  font-family: "Lobster";
  src: local("Lobster"), url("lobster.woff") format("woff");
}

body {
	background-color: #BCD0C4;
	font-family: "Lobster", "Comic Sans", cursive;
	color: #003842;
}

/*header*/
#thumb_rodica {
	position: fixed;
	width: 7em;
}

header {
  background-color: #003842;
}

header nav {
  float: right;
  font-size: 1.2em;
  margin-left: 20px;
}
header nav li {
  line-height: 5em;
  list-style: none;
}
header nav a {
  border-radius: 6px;
  color: #fff;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
}
header nav a:hover {
  background-color: #fff;
  color: #003842;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

/*main*/
h1 {
	text-align: center;
	padding-top: 50px;
}

section {
  margin: 5%;
}

/*navigation bars*/
nav li {
  float: left;
}

p a:link {
  color: #3E576D;
  text-decoration: none;
}

p a:visited {
  color: #97BFBE;
}

/*blog*/
#blog_list {
   list-style-image: url(../imgs/article_scaled.png);
}

#blog_list a:link {
  color: #003842;
  text-decoration: none;
}

#blog_list a:visited {
  color: #3E576D;
}

#blog_list a:hover {
  color: #EC474B;
}

code {
  background-color: #DDCDB8;
}

/*footer*/
footer nav {
  margin-left: 35%;
  position: fixed;
  bottom: -1px;
}

footer nav li {
  list-style: none;
  margin: 0 10px;
  padding: 5px 10px;
}

.social {
  width: 50px;
  height: 50px;
}

/*
Ocean sunset color scheme
https://color.adobe.com/ocean-sunset-color-theme-4696752/;
dark-blue: #003842
light-blue: #97BFBE
blue-gray: #BCD0C4
grey: #DDCDB8
pink: #FFC9A7
red: #EC474B
turqouise: #6EC1A7
another-blue: #3E576D;
*/